*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
}

.day{
    background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
}

.night{
    background: linear-gradient(to right, rgb(1, 143, 136), rgb(2, 71, 128));
    /* Dim screen:  */
    /* opacity: 0.5; */
}

/* .container{

} */

/*------------------------------------- Time and Date Info ----------------------*/
.card-timeDate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    /* border: 2px solid #777; */
    border-radius: 20px;
    max-width: 100%;
    width: 1500px;
    box-shadow: 0 2px 10px black;
    margin-top: 20px;
    height: 11vh;
}

.card-timeDate-time{
    font-size: 6rem;
    padding-left: 10px;
}

.card-timeDate-AMPM{
    font-size: 1.75rem;
    padding-right: 50px;
}

.card-timeDate-date{
    font-size: 2rem;
    border-right: 3px solid #777;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 3px solid #777;
    border-left: 3px solid #777;
}

.card-timeDate-enterLocationBox{
    padding-left: 40px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.card-timeDate-enterLocationBox-textArea{
    font-size: 1.5rem;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    font-family: sans-serif;
}

.pac-item{
    font-size: 1rem;
    padding: 10px 10px;
}

.pac-icon{
    display: none;
}

.pac-item-query{
    font-size: 1rem;
    padding-right: 10px;
}

/*---------------------------------------------------- Weather Info ----------------------*/
.card-weather{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    background: white;
    /* border: 2px solid #777; */
    border-radius: 20px;
    max-width: 100%;
    width: 1500px;
    box-shadow: 0 2px 10px black;
    margin-top: 20px;
}

.card-weather-header{
    height: 4vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    font-size: 1.5rem;
    font-weight: bold;
}
.header-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-weather-icons{
    width: 10;
    height: 10;
}

/* .card-weather-grouping{

} */

.card-weather-current{
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 45px;
    height: 7.5vh;
}

.card-weather-current-tempIcon{
    padding-left: 15px;
}

.card-weather-current-temp{
    font-size: 2.5rem;
    /* border-right: 3px solid #222;
    margin-right: 30%; */
}

.card-weather-current-highLow{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}


.card-weather-summary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: #222;
}
.card-weather-summary-day{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: rgb(255, 97, 35);
}
.card-weather-summary-night{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: rgb(2, 71, 128);
}

.card-weather-hourly{
    height: 17vh;
}

.card-weather-hourly-content{
    font-size: 1.25rem;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 45px;
    height: 6vh;
}

.card-weather-hourly-hour{
    padding-right: 25px;
}

.card-weather-hourly-hour-time{
    text-decoration: underline;
    font-size: 1.125rem;
    padding-bottom: 5px;
}

.card-weather-hourly-hour-tempIcon{
    font-size: 1.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-weather-weekly-content{
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 85px;
    height: 12vh;
}

.card-weather-weekly-day{
    font-size: 1.125rem;
}

.card-weather-weekly-day-dayName{
    font-size: 1.2rem;
    padding-bottom: 20px;
    text-decoration: underline;
}

.card-weather-weekly-day-highLowTemps{
    font-size: 1.75rem;
}


/*---------------------------------------------------- News Info ----------------------*/
.card-news{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    background: white;
    /* border: 2px solid #777; */
    border-radius: 20px;
    max-width: 100%;
    width: 1500px;
    box-shadow: 0 2px 10px black;
    margin-top: 20px;
    height: 26vh;
}

.card-news-header{
    height: 4vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    font-size: 1.5rem;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-news-newsBox{
    padding: 0.25%;
}

.card-news-newsBox-headlineGroup{
    width: 100%;
    /* border: 1px solid #222; */
    padding: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.card-news-newsBox-headlineGroup-bottom{
    border-bottom: none;
    /* box-shadow: none; */
}

/* .card-news-newsBox-headline{
} */

.card-news-newsBox-description{
    font-weight: 400;
}

.card-news-newsBox-source{
    font-size: .75rem;
    font-weight: 300;
}